/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8; /* Background color */
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: linear-gradient(to right, #4a90e2, #405de6);;
    color: #fff;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition */
}

header nav ul li a:hover {
    color: rgb(113, 113, 236)
}

.landing {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.landing h2 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: linear-gradient(to right, #4f7db1, #233694);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background:linear-gradient(to right, #4a90e2, #405de6);
  }